apiVersion: v1
kind: Secret
metadata:
  name: infisical-universal-auth
  namespace: norriswu0-prod
type: Opaque
stringData:
  client_id: REPLACE_WITH_CLOUD_CLIENT_ID
  client_secret: REPLACE_WITH_CLOUD_CLIENT_SECRET
