apiVersion: v1
kind: Secret
metadata:
  name: infisical-universal-auth
  namespace: norriswu0
type: Opaque
stringData:
  clientId: REPLACE_WITH_CLOUD_CLIENT_ID
  clientSecret: REPLACE_WITH_CLOUD_CLIENT_SECRET
